<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .wrapper{
            background-color: #171C26;
            color: #fff;
            padding: 12px 32px;
        }
        .end{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .txt{
            margin-bottom : 50px;
            color: #fff;
        }
        .hl{
            display: block;
            width: 80%;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <p class="txt">{{{message}}}</p>
        <hr class="hl"/>
        <div class="end">
            <a href="https://www.findmystuff.io/" target="_BLANK"><img src="https://firebasestorage.googleapis.com/v0/b/findmystuff-35626.appspot.com/o/logo%2Flogo_white.svg?alt=media&token=738068e0-e37d-44d7-885b-8b2c1f14a560"  width="200px" height="100px" alt="logo"></a>
        </div>
    </div>
</body>
</html>